.select .main {
    border: 1px solid blue;
    display: inline-block;
    min-height:20px;
    min-width: 40px;
}

.items {
    border: 1px solid blue;
    position: absolute;
    padding: 5px;
}

.select.active .items {
    display: block;
}

.item.selected {
    background-color: blue;
    color: white;
}